* {
	box-sizing: border-box;
	font-family: 'Segoe UI';
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #46a0a9;
	
}

.header {
	align-self: flex-start;
}

.header-title {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
}

.header-title > * {
	white-space: pre;
	overflow-wrap: break-word;
	overflow: hidden;
/*	width: 100px;*/
	display: inline-block;
}

.list .header-title > * {
	white-space: normal !important;
}


.header-edit input {
	padding: 3px 8px;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid lightblue;
	width: 100%;
	border-radius: 5px;
}

.header-edit textarea {
	display: inline-block;
	padding: 0px 5px;
	font-size: 14px;
	font-weight: bold;
/*	border: 2px solid red;*/
	width: 100%;
	border-radius: 5px;
	resize: none;
	border: 0;
	overflow: hidden;
}

.header-edit textarea:focus {
	outline: none;
}

.bigger {
	font-size: 18px;
}


.bigger input {
	font-size: 18px;
}

.hide, .hide * {
	height: 0 !important;
	border: none !important;
	padding: 0 !important;
}

/*.header-edit input:focus {
	border: none;
}*/


.lists {
	display: flex;
	flex-direction: row;
}

.list-container {
	padding: 5px;
}

.list {
	width: 240px;
	background-color: #ade4ea;
	cursor: pointer;
	border-radius: 5px;
}

.list-header {
	font-size: 2rem;
/*	padding: 10px;*/
}

.list-items {

}

.item-container {
	padding: 5px;
}

.item {
	background-color: #fff;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
}

.new {
	display: flex;
	flex-direction: column;
}

.modal {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: #333;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.placeholder-el {
	z-index: -1;
/*	padding: 5px;*/
}

.placeholder-el div {
	background-color: #76ced7;
	border-radius: 5px;
	height: 100%;
}

input {
	font-weight: bold;
}

.editing-helper-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	max-width: 200px;
	z-index: -3;
}

.editing-helper {
	width: 100%;
	z-index: -3;
	overflow-wrap: break-word;
	font-size: 14px;
	font-weight: bold;
}

.list .header-edit {
	padding: 5px;
}

.list .header-title span {
	display: block;
	width: 100%;
	overflow-wrap: break-word;
}