* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ddd;
}

.lists {
	display: flex;
	flex-direction: row;
}

.list {
	width: 200px;
	background-color: #ccc;
	cursor: pointer;
	border: 1px dashed #eee;
}

.list-header {
	font-size: 2rem;
	padding: 10px;
}

.list-items {
	background-color: #333;
}

.item {
	padding: 10px;
	background-color: #aaa;
	cursor: pointer;
	border: 1px dashed #ccc;
}

.new {
	display: flex;
	flex-direction: column;
}

.modal {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: #333;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.placeholder-el {
	color: white;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
}