* {
	box-sizing: border-box;
	font-family: 'Segoe UI';
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #46a0a9;
	overflow: hidden;
}

.header {
	align-self: flex-start;
	margin: 5px;
	padding: 0;
	position: relative;
}



.header-title > * {
	white-space: pre;
	overflow-wrap: break-word;
	overflow: hidden;
/*	width: 100px;*/
	display: inline-block;
	position: relative;
}

.list .header-title > * {
	white-space: normal !important;
}

.header-edit {
	padding-bottom: 5px; /* fix */
/*	position: relative;*/
}

.header .header-label-display {

}

.header .header-label-display div {
/*	border-radius: 5px;*/
	padding: 5px;
	font-weight: bold;
	background-color: #46a0a9;
}

.header .header-label-display div:hover {
	border-radius: 5px;
	background: #ade4ea;
}

.header .header-label-edit {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.header .header-label-edit input {
	border-radius: 5px;
	border: none;
	padding: 5px;
	width: 0px;
}

.header .header-label-edit input:focus {
	border: 2px solid #ade4ea;
	padding: 3px;
}

.header-edit input {
	padding: 3px 8px;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid lightblue;
	width: 100%;
	border-radius: 5px;
}

.header-edit textarea {
	display: inline-block;
	padding: 0px 5px;
	font-size: 14px;
	font-weight: bold;
/*	border: 2px solid red;*/
	width: 100%;
	border-radius: 5px;
	resize: none;
	border: 0;
	overflow: hidden;
	word-wrap: break-word;
}

.header-edit textarea:focus {
	outline: none;
}

.bigger {
	font-size: 18px;
}


.bigger input {
	font-size: 18px;
}

.lists {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.list-container {
	padding: 5px;
}

.list {
	width: 240px;
	background-color: #ade4ea;
	cursor: pointer;
	border-radius: 5px;
	max-height: 90vh;
	display: flex;
	flex-direction: column;
}



.list-items {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
}

.item-container {
	font-size: 14px;
	padding: 5px;
}

.list .item-container {
	max-width: 230px; /* leave room for scrollbar? */
}

.item {
	background-color: #fff;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
	word-break: break-all;
}

.new {
	display: flex;
	flex-direction: column;
}

.modal {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: #333;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.placeholder-el {
	padding: 5px;
}

.placeholder-el div {
	background-color: #76ced7;
	height: 100%;
	border-radius: 5px;
}

input {
	font-weight: bold;
}

.editing-helper-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 240px;
	z-index: -3;
/*	background: purple;*/
	border-radius: 5px;
	font-size: 14px;
	padding: 0 10px;
}

.editing-helper {
	position: relative;
	width: 100%;
	overflow-wrap: break-word;
	font-size: 14px;
	font-weight: bold;
}

.list .header-edit {
	padding: 5px;
}

.list .header-title span {
	display: block;
	width: 100%;
	overflow-wrap: break-word;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.container {
	overflow: auto;
	height: 100%;
}

.new-item-div {
/*	background: purple;*/
	padding: 5px;
	border-radius: 5px;
}

.new-item-div button {
	border-radius: 5px;
	width: 100%;
	border: none;
	padding: 5px;
	background: #ade4ea;
	text-transform: uppercase;
/*	font-size: 12px;*/
}

.new-item-div button:hover {
	width: 100%;
	border: none;
	background: #46a0a9;
}

.new-item-div button:focus {
	outline: none;
}

.insert-new-item-input-container {
	padding: 5px;
	max-width: 230px; /* space for scrollbar */
	position: relative;
}


.new-textarea {
	font-family: 'Segoe UI';
	font-size: 14px;
	border: none;
	width: 100%;
	border-radius: 5px;
	resize: none;
	padding: 5px;
	overflow: hidden;
	height: 29px;
}

.new-textarea:focus {
	outline: none;
}

.new-buttons-area {
	display: flex;
	justify-content: space-between;
}

.new-buttons-area button {
	text-transform: uppercase;
	border-radius: 5px;
	width: 49%;
	padding: 5px;
	border: 0;
}

.new-buttons-area button:focus {
	outline: none;
}

.new-buttons-area button:nth-child(1) {
	background: lightgreen;
}

.new-buttons-area button:nth-child(2) {
	background: pink;
}

.helper {
/*	top: -100px;
	left: -100px;*/
	padding: 5px;
	position: absolute;
/*	background: purple;*/
	z-index: -1;
	max-width: 220px;
	word-break: break-all;
	font-family: 'Segoe UI';
	font-size: 14px;
}


.list-header {
	position: relative;
}

.list-header .header-title {
	padding: 5px;
}

.list-header .header-title span {
	font-size: 14px;
	font-weight: bold;
	min-height: 29px;
	padding: 5px;
	border-radius: 5px;
}

.list-header .header-title span:hover {
	background-color: #46a0a9;
}

.list-header .header-edit {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
}

.list-header .header-edit textarea {
	font-family: 'Segoe UI';
	width: 100%;
	height: 0px;
	padding: 5px;
}

.list-header .header-edit textarea:focus {
	border: 2px solid #46a0a9;
	padding: 3px;
}

.item-display-container {
	width: 500px;
	border: 2px solid #333;
	border-radius: 5px;
	opacity: 1;
	background-color: #888;
	padding: 5px;
}

.item-display-container .item-header {
	padding: 5px;
	position: relative;
	border-radius: 5px;
}

.item-display-container span {
	width: 100%;
	font-family: 'Segoe UI';
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	overflow-wrap: break-word;
	border-radius: 5px;
	padding: 5px;
}

.item-display-container span:hover {
	background-color: #ccc;
}

.item-display-container .item-header-edit {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 5px;
}

.item-display-container .item-header-edit textarea {
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 0;
	font-family: 'Segoe UI';
	font-size: 14px;
	resize: none;
	overflow: hidden;
	font-weight: bold;
	padding: 0;
	margin: 0;
	overflow-wrap: break-word;
	padding: 5px;
	border-radius: 5px;
}

.item-display-container .item-header-edit .editable:focus {
	outline: none;
}
